<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/home.css">
    <title>Document</title>
</head>
<body id="body">
    <header id="header">
        <a class="links" href="/home">Home</a>
        <a class="links" href="/about">About</a>
        <a class="links" href="/work">Work</a>
        <a class="links" href="/Gallery">Gallery</a>
    </header>
    <h1>Gallery</h1> 
    <div class="gallTot" >
    <img class="gallery" src="images/217-2178206_michael-scott-wallpaper.jpeg" alt="M.Scott">  
    <img class="gallery" src="images/5OGH53R6YBEDNPQ2IJQKFHBO4Y.jpeg" alt="M.Scott"> 
    <img class="gallery" src="images/BGRBZZZN6LLKZRU6FHJ6DUDI6Y.jpeg" alt="M.Scott">  
    <img class="gallery" src="images/e38ba1dfd0ecd922ea73c607223703fa--office-quotes-michael-scott.jpeg" alt="M.Scott"> 
    <img class="gallery" src="images/images.jpeg" alt="M.Scott"> 
    <img class="gallery" src="images/KNFXGMA3RNCNLAM3DOW27S6RUI.jpeg" alt="M.Scott"> 
    <img class="gallery" src="images/l-intro-1632155870.jpeg" alt="M.Scott"> 
    <img class="gallery" src="images/Los-mejores-personajes-de-Michael-Scott.jpeg" alt="M.Scott"> 
    <img class="gallery" src="images/maxresdefault.jpeg" alt="M.Scott"> 
    <img class="gallery" src="images/steve_carell_michael_scott_the_office.jpg_423682103.webp" alt="M.Scott"> 
    
    </div>
    
    

    

</body>
</html>